footer h5 {
	font-size: 1.2rem;
	font-weight: bold;
}

footer ul {
	list-style-type: none;
	padding-left: 0;
}

footer ul li {
	margin-bottom: 10px;
}

footer ul li a {
	color: #343a40;
	text-decoration: none;
}

footer ul li a:hover {
	text-decoration: underline;
}

footer .p-3 {
	background-color: #343a40;
}
