<footer class="bg-light text-center text-lg-start">
	<div class="container p-4">
		<div class="row">
			<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
				<h5 class="text-uppercase">Acerca de nosotros</h5>
				<p>Aprende más sobre nuestra empresa y cómo nos esforzamos por ofrecer los mejores productos y servicios.</p>
			</div>

			<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
				<h5 class="text-uppercase">Servicios</h5>
				<ul class="list-unstyled mb-0">
					<li><a routerLink="/product-listing" class="text-dark">Productos</a></li>
					<li><a routerLink="/orders" class="text-dark">Ordenes</a></li>
					<li><a routerLink="/settings" class="text-dark">Configuración</a></li>
				</ul>
			</div>

			<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
				<h5 class="text-uppercase">Links rápidos</h5>
				<ul class="list-unstyled mb-0">
					<li><a routerLink="/home" class="text-dark">Inicio</a></li>
					<li><a routerLink="/contact" class="text-dark">Contactanos</a></li>
					<li><a routerLink="/about" class="text-dark">Acerca de nosotros</a></li>
				</ul>
			</div>

			<div class="col-lg-3 col-md-6 mb-4 mb-md-0">
				<h5 class="text-uppercase">Siguenos</h5>
				<ul class="list-unstyled">
					<li>
						<a href="#" class="text-dark"><i class="bi bi-facebook"></i> Facebook</a>
					</li>
					<li>
						<a href="#" class="text-dark"><i class="bi bi-twitter"></i> Twitter</a>
					</li>
					<li>
						<a href="#" class="text-dark"><i class="bi bi-instagram"></i> Instagram</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- Links -->
	</div>

	<div class="text-center p-3 bg-dark text-white">&copy; 2024 TrendyLooks. Todos los derechos reservados.</div>
</footer>
