<div class="container py-5">
	<h2 class="mb-4 text-center">Carrito de Compras</h2>

	<div *ngIf="cartItems.length > 0; else emptyCart">
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Producto</th>
						<th>Precio</th>
						<th>Cantidad</th>
						<th>Total</th>
						<th>Acciones</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of cartItems">
						<td>{{ item.nomProd }}</td>
						<td>{{ item.preProd | currency: 'PEN ':'symbol' }}</td>
						<td>
							<div class="d-flex justify-content-center align-items-center">
								<!-- Minus Button -->
								<button
									class="btn btn-outline-secondary btn-sm"
									(click)="decreaseQuantity(item)"
									[disabled]="item.quantity === 1"
									style="width: 38px; height: 38px"
								>
									-
								</button>

								<!-- Quantity Input -->
								<input
									type="number"
									class="form-control mx-2 text-center"
									style="width: 60px"
									[(ngModel)]="item.quantity"
									(change)="updateQuantity(item)"
									(min)="(1)"
								/>

								<!-- Plus Button -->
								<button
									class="btn btn-outline-secondary btn-sm"
									(click)="increaseQuantity(item)"
									style="width: 38px; height: 38px"
								>
									+
								</button>
							</div>
						</td>
						<td>{{ item.quantity * item.preProd | currency: 'PEN ':'symbol' }}</td>
						<td>
							<button class="btn btn-danger btn-sm" (click)="removeFromCart(item.codProd)">Eliminar</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="d-flex justify-content-between align-items-center mt-4">
			<h4>Total: {{ getTotal() | currency: 'PEN ':'symbol' }}</h4>
			<a class="btn btn-success" [routerLink]="['/checkout']">Proceder al Pago</a>
		</div>
	</div>

	<ng-template #emptyCart>
		<div class="alert alert-info text-center" role="alert">No hay productos en el carrito.</div>
	</ng-template>
</div>
