<!-- src/app/product-list/product-list.component.html -->
<div class="container mt-4">
	<div class="row">
		<!-- Loop through the products and display each one in a Bootstrap card -->
		<div class="col-md-4" *ngFor="let product of data?.items">
			<div class="card mb-4">
				<img [src]="product.imgProd" class="card-img-top" alt="Product image" />
				<div class="card-body">
					<h5 class="card-title">{{ product.nomProd }}</h5>
					<p class="card-text">{{ product.preProd | currency: 'PEN':'symbol' }}</p>
					<p class="card-text">
						<span *ngIf="product.estProd; else outOfStock" class="badge bg-success">En stock</span>
						<ng-template #outOfStock>
							<span class="badge bg-danger">Fuera Stock</span>
						</ng-template>
					</p>
					<!-- <button class="btn btn-primary" [routerLink]="['/product', product.codProd]">Ver Detalles</button> -->
					<button class="btn btn-dark btn-sm">Agregar al Carrito</button>
				</div>
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-end align-items-center mb-3 gap-3" *ngIf="data?.items">
		<select
			id="pageSizeSelect"
			class="form-select d-inline"
			(change)="changePageSize($event)"
			[(ngModel)]="pageSize"
			style="max-width: 100px"
		>
			<option *ngFor="let size of availablePageSizes" [value]="size">
				{{ size }}
			</option>
		</select>

		<nav aria-label="Page navigation">
			<ul class="pagination justify-content-center mb-0">
				<li class="page-item" [class.disabled]="pageNumber === 1">
					<a class="page-link" (click)="setPage(pageNumber - 1)" aria-label="Previous">
						<fa-icon [icon]="faChevronLeft"></fa-icon>
					</a>
				</li>
				<ng-container *ngFor="let i of [].constructor(data?.totalPages); let index = index">
					<li class="page-item" [class.active]="pageNumber === index + 1">
						<a class="page-link" (click)="setPage(index + 1)">{{ index + 1 }}</a>
					</li>
				</ng-container>
				<li class="page-item" [class.disabled]="pageNumber === data?.totalPages">
					<a class="page-link" (click)="setPage(pageNumber + 1)" aria-label="Next">
						<fa-icon [icon]="faChevronRight"></fa-icon>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</div>
