<div class="d-flex justify-content-center align-items-center vh-100">
	<div class="card" style="width: 500px">
		<div class="card-body">
			<h5 class="card-title text-center">Checkout</h5>
			<form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
				<div class="form-group mb-3">
					<label for="name">Nombre y Apellido</label>
					<input type="text" id="name" class="form-control" formControlName="name" placeholder="John Doe" required />
				</div>

				<div class="form-group mb-3">
					<label for="address">Dirección</label>
					<input
						type="text"
						id="address"
						class="form-control"
						formControlName="address"
						placeholder="1234 Main St, City"
						required
					/>
				</div>

				<div class="form-group mb-3">
					<label for="creditCard">Número de Tarjeta</label>
					<div class="input-group">
						<!-- Dynamic Card Icon -->
						<div class="input-group-prepend">
							<span
								class="input-group-text"
								style="
									height: 46px;
									padding: 0.5rem;
									font-size: 25px;
									border-top-right-radius: 0;
									border-bottom-right-radius: 0;
								"
							>
								<fa-icon [icon]="cardTypeIcon"></fa-icon>
							</span>
						</div>
						<input
							type="text"
							id="creditCard"
							class="form-control"
							formControlName="creditCard"
							placeholder="**** **** **** ****"
							(input)="onCardNumberInput()"
							[maxLength]="cardNumberMaxLength"
							required
						/>
					</div>
				</div>

				<div class="form-group mb-3">
					<label for="expiryDate">Fecha de Expiración</label>
					<input
						type="text"
						id="expiryDate"
						class="form-control"
						formControlName="expiryDate"
						placeholder="MM/YY"
						required
					/>
				</div>

				<div class="form-group mb-3">
					<label for="cvv">CVV</label>
					<input type="text" id="cvv" class="form-control" formControlName="cvv" placeholder="***" required />
				</div>

				<div class="form-group mb-3">
					<p class="text-muted" style="font-weight: 600">
						Precio Total: <span style="font-weight: normal">{{ totalPrice | currency: 'PEN ':'symbol' }}</span>
					</p>
				</div>

				<div class="text-center">
					<button type="submit" class="btn btn-primary w-100">Proceder al Pago</button>
				</div>
			</form>
		</div>
	</div>
</div>
