<div class="container my-5">
	<div class="row">
		<div class="col-lg-12 text-center">
			<h1 class="display-4">Bienvenidos a Trendy Looks</h1>
			<p class="lead">Explora los mejores productos y gestiona tus órdenes con facilidad.</p>
			<a class="btn btn-primary btn-lg" [routerLink]="['/product-listing']">Buscar Productos</a>
		</div>
	</div>

	<div class="row my-5">
		<div class="col-lg-4 text-center">
			<i class="bi bi-box-seam display-4"></i>
			<h3>Gran variedad de productos.</h3>
			<p>Busca a traves de nuestra amplia gama de productos solo para ti.</p>
		</div>
		<div class="col-lg-4 text-center">
			<i class="bi bi-people display-4"></i>
			<h3>Administra tu cuenta.</h3>
			<p>Administra tu cuenta y mantén un seguimiento de tus órdenes.</p>
		</div>
		<div class="col-lg-4 text-center">
			<i class="bi bi-cash-stack display-4"></i>
			<h3>Pagos faciles.</h3>
			<p>Pagos faciles y seguros con una experiencia de compra sin complicaciones.</p>
		</div>
	</div>

	<div class="row my-5">
		<div class="col-lg-12 text-center">
			<h2>¿Listo para comenzar?</h2>
			<a class="btn btn-outline-success btn-lg mt-3" [routerLink]="['/product-listing']">Empezar</a>
		</div>
	</div>
</div>
