<div class="container py-3 w-25">
	<div class="d-flex justify-content-between align-items-center">
		<button backButton class="btn btn-dark mb-3">Volver</button>
		<h2>{{ isEdit ? 'Editar' : 'Crear' }} Producto</h2>
	</div>
	<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
		<div class="mb-3" *ngIf="isEdit">
			<label for="codProd" class="form-label">Código</label>
			<input type="text" id="codProd" formControlName="codProd" class="form-control" />
		</div>
		<div class="mb-3">
			<label for="nomProd" class="form-label">Nombre</label>
			<input type="text" id="nomProd" formControlName="nomProd" class="form-control" />
		</div>
		<div class="mb-3">
			<label for="descProd" class="form-label">Descripción</label>
			<textarea id="descProd" formControlName="descProd" class="form-control"></textarea>
		</div>
		<div class="mb-3">
			<label for="codCat" class="form-label">Categoria</label>
			<select id="codCat" formControlName="codCat" class="form-select">
				<option *ngFor="let category of categories" value="{{ category.codCat }}">{{ category.nomCat }}</option>
			</select>
		</div>
		<div class="mb-3">
			<label for="prePro" class="form-label">Precio</label>
			<input type="number" id="preProd" formControlName="preProd" class="form-control" />
		</div>
		<div class="mb-3">
			<label for="stockProd" class="form-label">Stock</label>
			<input type="number" id="stockProd" formControlName="stockProd" class="form-control" />
		</div>
		<div class="mb-3" *ngIf="productForm.value.imgProd; else noImage">
			<label class="form-label w-100"
				>Imagen <button type="button" class="btn btn-danger btn-sm" (click)="deleteImage()">x</button></label
			>
			<img [src]="productForm.value.imgProd" alt="Product Image" class="img-fluid" />
		</div>
		<ng-template #noImage>
			<div class="mb-3">
				<label for="imgProd" class="form-label">Imagen</label>
				<input type="file" id="imgProd" class="form-control" (change)="onFileSelected($event)" accept="image/*" />
			</div>
		</ng-template>
		<div class="mb-3" *ngIf="isEdit">
			<label class="form-check-label">
				<input type="checkbox" formControlName="estProd" class="form-check-input" />
				Disponible
			</label>
		</div>
		<div class="mb-3" *ngIf="isEdit">
			<label for="fecProd" class="form-label">Fecha</label>
			<input type="date" id="fecProd" formControlName="fecProd" class="form-control" />
		</div>
		<button type="submit" class="btn btn-primary w-100 d-flex justify-content-center align-items-center gap-2">
			<span *ngIf="isLoading" class="loader"></span> {{ isEdit ? 'Actualizar' : 'Registrar' }}
		</button>
	</form>
</div>
